<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE HABITACIONES</span>
                    <button class="btn btn-success float-end" routerLink="/registrar-cliente">Nuevo</button>
                    <table *ngIf="listaHabitaciones.length > 0" class="table table-striped table-hove mt-3">
                        <thead>
                            <tr>
                                <th scope="col">numeroHabitacion</th>
                                <th scope="col">categoria</th>
                                <th scope="col">precio</th>
                                <th scope="col">descripcion</th>
                                <th scope="col">estado</th>
                                <th scope="col"></th>

                                <!--Espacio para agregar los iconos de la tabla, eliminar actualizar.-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let habitacion of listaHabitaciones">
                                <td>{{ habitacion.numeroHabitacion }}</td>
                                <td>{{ habitacion.categoria }}</td>
                                <td>{{ habitacion.precio }}</td>
                                <td>{{ habitacion.descripcion }}</td>
                                <td>{{ habitacion.estado }}</td>

                                <td>
                                    <i [routerLink]="['/actualizar-habitacion', habitacion._id]"
                                        class="fas fa-edit text-primary"></i>
                                    <i (click)="eliminarHabitacion(habitacion._id)" class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 *ngIf="listaHabitaciones.length == 0" style="text-align: start; margin-top: 10px;">Ho hay habitaciones para mostrar, registre algunas primero.</h5>                          
                </div>
            </div>
        </div>
    </div>
</div>
