<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE CLIENTES</span>
                    <button class="btn btn-success float-end" routerLink="/registrar-cliente">Nuevo</button>
                    <table *ngIf="listaClientes.length > 0" class="table table-striped table-hove mt-3">
                        <thead>
                            <tr>
                                <th scope="col">tipoDocumento</th>
                                <th scope="col">numeroDocumento</th>
                                <th scope="col">primerNombre</th>
                                <th scope="col">segundoNombre</th>
                                <th scope="col">primerApellido</th>
                                <th scope="col">segundoApellido</th>
                                <th scope="col">email</th>
                                <th scope="col">direccion</th>
                                <th scope="col">fechaNacimiento</th>
                                <th scope="col">telefono</th>
                                <th scope="col"></th>

                                <!--Espacio para agregar los iconos de la tabla, eliminar actualizar.-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of listaClientes">
                                <td>{{ client.tipoDocumento }}</td>
                                <td>{{ client.numeroDocumento }}</td>
                                <td>{{ client.primerNombre }}</td>
                                <td>{{ client.segundoNombre }}</td>
                                <td>{{ client.primerApellido }}</td>
                                <td>{{ client.segundoApellido }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.direccion }}</td>
                                <td>{{ client.fechaNacimiento }}</td>
                                <td>{{ client.telefono }}</td>

                                <td>
                                    <i [routerLink]="['/actualizar-cliente', client._id]"
                                        class="fas fa-edit text-primary"></i>
                                    <i (click)="eliminarCliente(client._id)" class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                    </table>
                    <h5 *ngIf="listaClientes.length == 0" style="text-align: start; margin-top: 10px;">Ho hay clientes
                        para mostrar, registre algunos primero.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>